<ion-content class="ion-padding">
  <ion-radio-group value="english" mode="ios">
    <ion-list-header>
      <ion-label class="ion-no-margin ion-margin-bottom">Choose Language</ion-label>
    </ion-list-header>

    <ion-item>
      <img slot="start" src="../../../assets/images/usa.png" width="24px" style="margin-right:16px">
      <ion-label>English</ion-label>
      <ion-radio slot="end" value="english"></ion-radio>
    </ion-item>
    <ion-item>
      <img slot="start" src="../../../assets/images/spain.png" width="24px" style="margin-right:16px">
      <ion-label>Spanish</ion-label>
      <ion-radio slot="end" value="spanish"></ion-radio>
    </ion-item>
    </ion-radio-group>
  </ion-content>
