<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal" [formGroup]="passwordResetForm">
  <div class="login-container ion-padding-horizontal ion-text-center" *ngIf="!mailSent">
    <img src="../../../assets/images/forgot-password.png" />
    <h2 class="wel-msg">{{language ==='English'? languageJson.forgotPage.english.recover : languageJson.forgotPage.spanish.recover}}</h2>
    <p class="wel-submsg">{{language ==='English'? languageJson.forgotPage.english.recover : languageJson.forgotPage.spanish.recover}}.
    </p>
    <div class="ion-margin-vertical ion-padding-vertical page-content">
      <ion-item>
        <ion-label position="stacked">{{language ==='English'? languageJson.forgotPage.english.regemail : languageJson.forgotPage.spanish.regemail}}</ion-label>
        <ion-input placeholder="example@gmail.com" formControlName="login" type="email"></ion-input>
        <ion-icon name="mail-outline" slot="end" class="input-icon"></ion-icon>
      </ion-item>
      <ion-item class="phoneno">
        <ion-label position="stacked">{{language ==='English'? languageJson.forgotPage.english.phone : languageJson.forgotPage.spanish.phone}}
        </ion-label>
        <ion-input placeholder="809555555" formControlName="phone" type="tel" class="phoneno"></ion-input>
        <ion-icon name="phone-portrait-outline" slot="end" class="input-icon"></ion-icon>
      </ion-item>
      <ion-label slot="start" class="phone-code">+1</ion-label>
    </div>
    <ion-button class="ion-margin-vertical" size="default" color="primary" expand="block"
    [disabled]="!passwordResetForm.value.login && !passwordResetForm.value.phone" (click)="reset()">{{language ==='English'? languageJson.forgotPage.english.send : languageJson.forgotPage.spanish.send}}</ion-button>
  </div>
  <div class="login-container ion-padding ion-text-center" *ngIf="mailSent">
    <div class="ion-text-center ion-padding-vertical page-content">
      <img src="../../../assets/images/mail.png" width="200px" />
    </div>
    <div class="ion-text-center ion-padding-horizontal ion-margin">
      <h2 class="wel-msg">{{language ==='English'? languageJson.forgotPage.english.emailcheck : languageJson.forgotPage.spanish.emailcheck}}</h2>
      <p class="wel-submsg">
        {{language ==='English'? languageJson.forgotPage.english.passsent : languageJson.forgotPage.spanish.passsent}}.
      </p>
    </div>
    <div class="ion-text-center ion-padding-vertical">
      <ion-button class="ion-margin-vertical" size="default" color="primary" expand="block"
        routerLink="../resetPassword">{{language ==='English'? languageJson.forgotPage.english.back : languageJson.forgotPage.spanish.back}}
      </ion-button>
    </div>
  </div>
</ion-content>