ion-header::after {
  background-image: none;
}
.input-icon {
  font-size: 20px;
  margin-top: 30px;
}
.phone-code {
  position: absolute;
  margin-top: -31px;
  left: 48px;
  z-index: 1;
  font-size: 16px;
}
