<p>
  change-password works!
</p>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>{{language === 'English'? languageJson.passPage.english.title :languageJson.passPage.spanish.title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal" [formGroup]="passForm">
  <div class="register-container ion-padding-horizontal ion-text-left">
   
    <div class="ion-margin-vertical ion-padding-bottom">
      <ion-item>
        <ion-label position="stacked">{{language === 'English'? languageJson.passPage.english.phone :languageJson.passPage.spanish.phone}}</ion-label>
        <ion-input formControlName="phone"  type="text"></ion-input>
      </ion-item>    
      <ion-item>
        <ion-label position="stacked">{{language === 'English'? languageJson.passPage.english.name :languageJson.passPage.spanish.name}}</ion-label>
        <ion-input formControlName="company_name"  type="text"></ion-input>
        <ion-icon name="business-outline" slot="end" class="input-icon"></ion-icon>
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">{{language === 'English'? languageJson.passPage.english.pass :languageJson.passPage.spanish.pass}}</ion-label>
        <ion-input placeholder="......." formControlName="new_password" [type]="showPassword" (keyup.enter)="login()"></ion-input>
        <ion-icon name="eye-off-outline" *ngIf="showPassword ==='password'" slot="end" class="input-icon" (click)="changePasswordType()"></ion-icon>
        <ion-icon name="eye-outline" *ngIf="showPassword ==='text'" slot="end" class="input-icon" (click)="changePasswordType()"></ion-icon>
        <!-- <ion-input formControlName="pass"  type="password"></ion-input> -->       
      </ion-item> 
      <ion-item>
        <ion-input placeholder="......." formControlName="confirm_pwd" [type]="showPassword" (keyup.enter)="login()"></ion-input>
        <ion-icon name="eye-off-outline" *ngIf="showPassword ==='password'" slot="end" class="input-icon" (click)="changePasswordType()"></ion-icon>
        <ion-icon name="eye-outline" *ngIf="showPassword ==='text'" slot="end" class="input-icon" (click)="changePasswordType()"></ion-icon>
      </ion-item>   
    
  
    </div>    
    <ion-button class="ion-margin-vertical" size="default" color="primary" fill="outline" expand="block" routerLink="/settings">{{language === 'English'? languageJson.passPage.english.confirmbutton :languageJson.passPage.spanish.confirmbutton}}
    </ion-button>
  </div>
  </ion-content>
