.pdt-name {
  font-weight: 600;
  white-space: pre-wrap;
}
.pdt-description {
  font-weight: 500;
  white-space: pre-wrap;
}
.primary-text {
  color: #39b03e;
}
.mt-10 {
  margin-top: 10px;
}
.text-underline {
  text-decoration: underline;
}
ion-title {
  font-family: "Nunito Sans";
  font-size: 16px;
  margin-left: -20px;
}
ion-content {
  --background: #fbfbfb;
}
ion-thumbnail {
  margin-top: 0px;
  margin-bottom: 8px;
  width: 50px;
  height: 70px;
  --padding-start: 8px;
  margin-inline-end: 8px;
}
.pdt-description {
  padding-right: 16px;
}
ion-item {
  border-bottom: 2px solid #ebebeb;
  --inner-border-width: 0 0 0 0;
}
.border-bottom {
  border-bottom: 1px solid #eee;
}

.bold {
  font-weight: 600 !important;
}
h3,
p {
  font-size: 14px;
}
h2 {
  margin-top: 18px;
  font-size: 17px;
}
.green-text {
  color: #2fdf75;
}
.red-text {
  color: red;
}
.bg-white {
  background-color: #fff;
}
.div-card {
  border-bottom: 2px solid #ebebeb;
  background-color: #fff;
  padding: 0px 8px;
}
