<div class="border-bottom ion-padding-bottom">
  <ion-row >
    <ion-col  size="12" class="ion-text-left text-title">
      <h2 class="pdt-name">Tipo de Pago</h2>
    </ion-col>
  </ion-row>
  <ion-radio-group value="option1" formControlName="deliveryDate">
    <ion-item>
      <ion-label>
        <p color="tertiary" class="pdt-description ion-no-margin"><b>Dinero en efectivo al entregar</b></p>
      </ion-label>
      <ion-radio slot="start" color="primary" value="option1"></ion-radio>
    </ion-item>
  </ion-radio-group>
</div>