<ion-content [fullscreen]="true">
  <div class="login-container ion-padding">
    <div class="logo page-content">
      <img src="../assets/images/logo.png">
    </div>
    <!-- <div class="ion-margin">
      <h2 class="wel-msg">Welcome to Barbaro bar</h2>
      <p class="wel-submsg">Explore thousands of essentials directly from our dedicated drinks and groceries online
        store.</p>
    </div> -->
    <div class="footer-btn-grp">
      <ion-button class="ion-margin" size="default" color="primary" expand="block" routerLink="./login">Iniciar Sesión
      </ion-button>
      <ion-button class="ion-margin" size="default" color="primary" expand="block" fill="outline"
        routerLink="./register">Regístrate</ion-button>
    </div>
  </div>
</ion-content>