<div class="border-bottom">
  <ion-grid class="ion-padding div-card ">
    <ion-row style="width: 100%;">
      <ion-col size="12" class="ion-text-left">
        <h2 class="pdt-name" color="primary">{{language ==='English'? languageJson.creditPage.english.detail :languageJson.creditPage.spanish.detail}}</h2>
      </ion-col>
    </ion-row>
    <ion-row class="items-card">
      <ion-col size="6" class="ion-text-left">
        <p color="tertiary" class="pdt-description ion-no-margin">{{language ==='English'? languageJson.creditPage.english.tquota :languageJson.creditPage.spanish.tquota}} </p>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <h3 color="success" class="bold ion-no-margin">S/5,500.00</h3>
      </ion-col>
    </ion-row>
    <ion-row class="items-card">
      <ion-col size="6" class="ion-text-left">
        <p color="tertiary" class="pdt-description ion-no-margin">{{language ==='English'? languageJson.creditPage.english.quota :languageJson.creditPage.spanish.quota}}</p>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <h3 color="success" class="bold ion-no-margin">S/5,500.00</h3>
      </ion-col>
    </ion-row>
    <ion-row class="items-card">
      <ion-col size="6" class="ion-text-left">
        <p color="tertiary" class="pdt-description ion-no-margin">{{language ==='English'? languageJson.creditPage.english.currentdebit :languageJson.creditPage.spanish.currentdebit}}</p>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <h3 color="secondary" class="bold ion-no-margin">S/1,917.79</h3>
      </ion-col>
    </ion-row>
    <ion-row class="items-card">
      <ion-col size="6" class="ion-text-left">
        <p color="tertiary" class="pdt-description ion-no-margin">{{language ==='English'? languageJson.creditPage.english.debit :languageJson.creditPage.spanish.debit}}</p>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <h3 color="secondary" class="bold ion-no-margin">S/1,917.79</h3>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-bottom text-left-item ion-align-items-baseline">
      <div class="ion-text-left">
        <p color="tertiary" class="pdt-description ion-no-margin">{{language ==='English'? languageJson.creditPage.english.condition :languageJson.creditPage.spanish.condition}}</p>
      </div>
      <div class="ion-text-right">
        <h3 color="secondary" class="bold ion-no-margin">{{language ==='English'? languageJson.creditPage.english.credit :languageJson.creditPage.spanish.credit}}</h3>
      </div>
    </ion-row>
  </ion-grid>
</div>