ion-header {
  --background: #fbfbfb;
}
.header-md::after {
  background-image: none;
}
ion-content {
  --background: #f3f3f3;
  top: -16px;
}
ion-item {
  --padding-start: 10px;
  --inner-padding-end: 10px;
}
ion-toolbar {
  border-radius: 0 0 24px 24px;
  padding-top: 8px;
  padding-bottom: 4px;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}
.cart-price {
  width: auto;
  border: 0px solid #84ca08;
  padding: 2px 8px;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  font-size: 10px;
  position: absolute;
  top: -6px;
  right: 4px;
  z-index: 100;
  background-color: #84ca08;
}
.cart-price:after {
  content: "";
  position: absolute;
  top: 95%;
  right: 16px;
  border-top: 10px solid #333652;
  border-top-color: inherit;
  border-left: 10px solid transparent;
  border-right: 0px solid transparent;
}

.search-item-container{
  margin: 40px 10px 0px;
}
.cart-btn {
  --padding-start: 16px;
  --padding-end: 16px;
  height: 36px;
  --border-radius: 6px;
  width: 92%;
  bottom: 10px;
  position: absolute;
}

.search-item{
  background-color: #fff;
  border-radius: 5px;
  width: 99%;
  margin: 15px 0px;
}
.search-item ion-item img{
  height: 55%;
}
.info-product .text{
  font-size: 11px !important;
}
ion-thumbnail {
  /* margin-top: 10px; */
  /* margin-bottom: 20px; */
  width: 80px;
  height: 130px;
  --padding-start: 8px;
  margin-inline-end: 30px;
}
ion-label {
  margin-top: -36px;
}

ion-content {
  --background: #f3f3f3;
  top: -16px;
}
ion-item {
  --padding-start: 10px;
  --inner-padding-end: 10px;
}


@media (min-width: 600px){
  .search-bar{
    display: flex;
    justify-content: flex-end;
    margin: 0px 0px 0px auto;
    width: 40%;
  }
  .search-item-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .search-item{
    width: 49%;
  }
}

.hidden{
  display: none !important;
  pointer-events: none;
}
.bar-header{
  display: flex;
  justify-content: space-between;
}
.img-header{
  width: 20%;
  max-width: 80px;
  display: flex;
  align-items: center;
  margin: 0px 10px;
  position: relative;

}
.img-header img{
  margin-bottom: 5px
}
.mode-env{
  color: green;
  margin: 0px;
  bottom: 3px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 10px;
}
.info-header{
  display: flex;
}
.info-header p{
  color: green;
  font-size: 18px;
  font-weight: 600;
  margin-left:5px;
  text-transform: capitalize;
}
.disabled{
  pointer-events: none;
  background-color: green;
}

.title-div{
  display: flex;
  justify-content: space-between;
}
.title-div p{
  width: 40%;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}
.title-div ion-searchbar{
  width: 65%;
}
.round-btn{
  font-size: 12px;
}




@media (max-width: 330px){
  .title-div p{
    font-size: 12px;
  }
}
.search-bar{
  color: green
}

.filter-container-item{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px
}

.filter-container-item p{
  font-size: 14px;
  color: #333
}