<div class="info-address">
  <ion-grid class="ion-padding border-bottom">
    <ion-row>
      <ion-col size="12" class="ion-text-left">
        <h3 class="bold ion-no-margin">Dirección de Entrega</h3>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-icon name="pin" color="primary"></ion-icon>
      <ion-col size="11" class="ion-text-left">
        <p color="tertiary" class="pdt-description ion-no-margin">Colmado: <b>{{store}}</b></p>
        <p color="tertiary" class="pdt-description ion-no-margin">{{address}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>